---
import ProjectListIsland from "../components/ProjectListIsland.jsx";
import CreateProjectForm from "../components/CreateProjectForm.jsx";
import "../styles/dashboard.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>TaskFlow – Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main class="dashboard">

      <header class="header">
        <h1>Proyectos</h1>
        <button id="logoutBtn" class="logout">Salir</button>
      </header>

      <section>
  <h2>Nuevo proyecto</h2>
  <CreateProjectForm client:load />
</section>

<section>
  <h2>Mis proyectos</h2>
  <ProjectListIsland client:load />
</section>

    </main>

    <script is:inline>
      document.getElementById("logoutBtn").onclick = () => {
        localStorage.removeItem("taskflow_user");
        window.location.href = "/";
      };
    </script>



  </body>
</html>